html {
  padding: 0 150px 150px 150px;
  font-family: 'Arial', sans-serif;
  min-width: 960px;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0;
  text-align: center;
}

.serverResponseLabelError {
  color: red;
}

noscript div {
  width: 22em;
  position: absolute;
  left: 50%;
  margin-left: -11em;
  color: red;
  background-color: white;
  border: 1px solid red;
  padding: 4px;
  font-family: sans-serif;
}

.errorLabel {
  color: red;
}

.loginPanel {
  display: block;
  text-align: center;
  margin-top: 140px;
}

.loginButton {
  height: 50px;
  width: 100px;
}

.gwt-PasswordTextBox {
  height: 50px;
  padding: 0 5px !important;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.notepadPanel {
  width: 100%;
  height: 450px;
}

.editor {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 80%;
  border: 2px solid #AAAAAA !important;
  /*-webkit-border-radius: 10px;*/
  /*-moz-border-radius: 10px;*/
  /*border-radius: 10px;*/
}

.buttonPanel {
  margin-top: 20px;
  text-align: right;
}

.gwt-PopupPanel {
  height: 100px;
  width: 200px;
  text-align: center;
  font-size: 2em;
  border: none !important;
}

.gwt-Label {
  color: #AAAAAA;
}

/* Toolbar */
.RichTextToolbar {
  background: #E2E2E2;
  padding:5px;
  margin:0;
  height: 20%;
}

.RichTextToolbar .gwt-ToggleButton {
  background: #F4F4F4;
  border: 1px outset #ccc;
}

.RichTextToolbar .gwt-PushButton {
  background: #F4F4F4;
  border: 1px outset #ccc;
}

.RichTextToolbar .gwt-ToggleButton-up-hovering {
  background: #F4F4F4;
  border-color: #9cf #69e #69e #7af;
}

.RichTextToolbar .gwt-PushButton-up-hovering {
  background: #F4F4F4;
  border-color: #9cf #69e #69e #7af;
}

.RichTextToolbar .gwt-ToggleButton-down {
  background: #D5D5D5;
  border-color: #777777 #777777 #777777 #777777;
}

.RichTextToolbar .gwt-PushButton-down {
  background: #D5D5D5;
  border-color: #777777 #777777 #777777 #777777;
}

.RichTextToolbar .gwt-ToggleButton-down-hovering {
  background: #D5D5D5;
  border-color: #9cf #69e #69e #7af;
}

.RichTextToolbar .gwt-PushButton-down-hovering {
  background: #D5D5D5;
  border-color: #9cf #69e #69e #7af;
}

.RichTextToolbar .gwt-PushButton-up-disabled {
  background: #717171;
  border-color: #B9968F #B9968F #B9968F #B9968F;
}

.RichTextToolbar .gwt-PushButton-down-disabled {
  background: #717171;
  border-color: #B9968F #B9968F #B9968F #B9968F;
}

.RichTextToolbar .gwt-ToggleButton-up-disabled {
  background: #717171;
  border-color: #B9968F #B9968F #B9968F #B9968F;
}

.RichTextToolbar .gwt-ToggleButton-down-disabled {
  background: #717171;
  border-color: #B9968F #B9968F #B9968F #B9968F;
}

