html {
  padding: 0 150px 150px 150px;
  font-family: 'Arial', sans-serif;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0;
  text-align: center;
}

.serverResponseLabelError {
  color: red;
}

noscript div {
  width: 22em;
  position: absolute;
  left: 50%;
  margin-left: -11em;
  color: red;
  background-color: white;
  border: 1px solid red;
  padding: 4px;
  font-family: sans-serif;
}

.errorLabel {
  color: red;
}

.loginPanel {
  display: block;
  text-align: center;
}

.loginButton {
  display: block;
  font-size: 16pt;
}

.notepadPanel {
  width: 80%;
}

.editor {

}
